html
  head
  body
   - var a=2
   case a
     when 1
       div(style={background:'red'})
     when 2
       div(style={background:'blue'})
     when 3
       div(style={background:'green'})
     default 
       不靠谱
