html 
  head 
    script.
      window.onload=function(){
          var 0btn =document.getelenmentbyid('btn')
          obtn.onclick=function(){
       alert('aaa')
      }
      }
  body
      div
        p
       
        