html
  head
    style
    script(src="a.js")
    link(href="a.css",rel="stylesheet")
  body
    div(style="width:500px,height:200px,background:red")
      p(style={width:'500px',height:'200px',background:'red'})
      div(class="red left")
      div(class=['left','right'])
      div.tab
      div#nav
      
    div
 